.product-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
  }
  
  .content-margined{
    margin: 1rem;
  }
  
  .table{
    width: 100%;
  }
  th{
    text-align: left;
  }
  tbody>tr:nth-child(odd){
    background-color: #f0f0f0;
  }
  