html{
  font-size: 65%; 
  box-sizing: border-box;
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
 
}
#root{
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header{
  height:55px;
  grid-area: header;
  background-color: #082aee;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.header-links a{
  color:#eca911;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;

}
.header-links a:hover{
  color:#ff8000;
}
.dropdown{
  display: inline-block;
  position: relative;
}
.dropdown-content{
  position: absolute;
  display: none;
  right:0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #1e08e0;
  margin:0;
  margin-top:0.4rem;
}
.dropdown:hover .dropdown-content{
  display: block;
}

.brand a{
  color: #f8eeee;
  font-size: 3.2rem;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home*/
.products {
  /* display: table-column; */
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  flex: 0 20 40rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}
.product{
  display: table-column;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-name{
  margin-left: 80px;
  display: flex;
  flex: 1 1 30rem;
  font-size: 2rem;
  font-weight: bold;
}
.product-desc{
  margin-left: 80px;
  display: flex;
  flex: 1 1 30rem;
  font-size: 1.5rem;
  color: #ff8800;
  font-weight: bold;
}
.product-brand{
  margin-left: 80px;
  display: flex;
  flex: 1 1 30rem;
  display:table-column;
  font-size: 1.5rem;
  color:#808080;
}
.product-price{
  margin-left: 80px;
  display: flex;
  flex: 1 1 30rem; 
  font-size: 2rem;
  font-weight: bold;
}
.product-image{
  display: flex;
  max-width: 30rem;
  margin-right: 60px;
  max-height: 30rem;
}
.product-rating{
  display: flex;
  margin-left: 80px;
  flex: 1 1 30rem;
  margin-bottom: 1.5rem;
}
/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color:#ffffff;
  cursor: pointer;
}
.sidebar{
  position: fixed;
  transition: all .5s;
  transform: translateX(-26rem);
  width: 26rem;
  font-size: 19px;
  color:darkmagenta;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar li{
  margin-bottom: 20px;
}
.sidebar.open{
  transform: translateX(0);
}

.sidebar-close-button{
  border-radius: 50%;
  border: .1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: .3rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem
}
a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
a:hover{
  color:#ff8000
}
/* Product Details */
.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 1.6rem;
  padding: 1rem;
}
.details-image {
  flex: 2 1 50rem;
}
.details-image img{
  max-width: 40rem;
  widows: 100%;
}
.details-info {
  flex: 1 1 30rem;
}
.details-action {
  flex: 1 1 26rem;
}

.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0;
}
.details-info li, .details-action li{
  margin-bottom: 1rem;
}
.back-to-result {
  color: #ff8000;
  padding: 1rem;
}
.details-action{
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}
.button{
  padding: 1rem;
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover{

  border: .1rem #404040 solid;
}
.button.primary{
  background-color: #f0c040;
}

/* admin */
.dropdown{
  display: inline-block;
  position: relative;
}
.dropdown-content{
  position: absolute;
  display: none;
  right:0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #203040;
  margin:0;
  margin-top:0.4rem;
}
.dropdown:hover .dropdown-content{
  display: block;
}
