#orderCtnr {
    margin-top: 20px;
}

h1 {
    color:  #082aee;
}

h2 {
    color:  #082aee;
}

#ordNum {
    float: right;
}

li {
    font-size: 20px;
    color: #082aee;
    text-align: center;
    font-weight: 500;
}

.order-image {
    width: 100px;
}

#ordAdd {
    font-size: 20px;
    color: #082aee;
    text-align: center;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}