#orderCtnr {
    margin-top: 20px;
}

h2 {
    color: #082aee
}

#ordNum {
    float: right;
}

li {
    font-size: 20px;
    color: #082aee;
    text-align: center;
}
h3{
    font-family: sans-serif;
}