#atcSubmit {
    background-color: #f0c040;
    margin-bottom: 10px;
    color: black;
    
}

#collapseBtn {
    margin-top: 10px;
    background-color: #f0c040;
    color: black;
    
}
<<<<<<< HEAD
=======


    
>>>>>>> 81906e0156edbcced3524120486101f849d47417
